.popup {
  display: inline-block;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 3000;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.3);
  }

  &__content {
    display: table;
    width: 75%;

    @include respond(tab-port) {
      width: 85%;
    }

    @include absCenter;
    background-color: $color-white;
    border-radius: 0.3rem;
    box-shadow: 0 1rem 4rem rgba($color-black, 0.2);
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.3s 0.2s;
  }

  &__left {
    width: 33.33333%;
    display: table-cell;

    @include respond(tab-port) {
      width: 40%;
    }

    @include respond(phone) {
      width: 51%;
    }
  }

  &__right {
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-port) {
      width: 60%;
      padding: 2rem 3rem;
      line-height: 1.5;
    }
    @include respond(phone) {
      padding: 1rem 2rem;
      width: 49%;
    }
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem; //1em == 14px in this case!
    -moz-column-rule: 1px solid $color-grey-light-2;

    column-count: 2;
    column-gap: 4rem; //1em == 14px in this case!
    column-rule: 1px solid $color-grey-light-2;

    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    @include respond(tab-port) {
      font-size: 1.6rem;
      -moz-column-gap: 3rem; //1em == 14px in this case!
      column-gap: 3rem; //1em == 14px in this case!
    }

    @include respond(phone) {
      font-size: 1.3rem;
      line-height: 1.3;
      margin-bottom: 2rem;

      column-width: 1;
      columns: 1;
      -moz-column-count: 1;
      // -moz-column-gap: 1; //1em == 14px in this case!
      -moz-column-rule: none;

      column-count: 1;
      // column-gap: 1; //1em == 14px in this case!
      column-rule: none;

      -webkit-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
    }
  }

  //Open states
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  //
  &__close {
    &:link,
    &:visited {
      text-decoration: none;
      display: inline-block;
      position: absolute;
      top: 1.5rem;
      right: 2rem;
      color: $color-grey-dark;
      font-size: 3rem;
      line-height: 1;
      transition: all 0.2s;
    }

    &:hover,
    &:focus {
      color: $color-primary;
    }
  }
}
