.header {
  height: 85vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero-small.webp);
  background-size: cover;
  background-position: top;

  position: relative;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    height: 95vh;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);
  }
  //192dpi (dots per inch is the resolution for Apple retina screen)
  //the comma (',') is like 'or' in the media query
  // min-width: 600px => 600/16 = 37.5 em -> in order media query to work
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ration: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../img/hero.webp);
  }

  @include respond(tab-port) {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
  }
  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 10rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

/* .logo:hover {
  animation: moveInRight 1s ease-out;
} */
