.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: $small !important;
}
.u-margin-bottom-medium {
  margin-bottom: $medium !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}
.u-margin-bottom-big {
  margin-bottom: $big !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big {
  margin-top: $big !important;
}
.u-margin-top-huge {
  margin-top: $huge !important;
}
